.wrangler
node_modules
package-lock.json
prisma/*.db
prisma/*.db-journal
prisma/migrations
~*
*~
wrangler.toml
worker-configuration.d.ts
/build/node_sqlite3.node
/build/server.js
/build/server.js.map
